
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

#news-story{
  font-family: 'Staatliches', cursive;
    color: aqua;
    margin: auto;
  width: 50%;
  margin-left: 273px;
  padding: 10px;
}
#back{
  font-family: 'Staatliches', cursive;
    color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 18px;
  width: 25%;
  margin-left: 385px;
  padding: 10px;
}
h1{
  font-family: 'Staatliches', cursive;margin-left: 383px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
p{
  /*animation: flicker 2s ease alternate infinite;*/
  font-family: 'Staatliches', cursive;
  margin-left: 136px;
}
h5 {
  
  margin-left: 136px;
  font-family: 'Josefin Slab', serif;
}