#color{
    color: aqua;
    margin: auto;
  width: 50%;
  margin-left: 273px;
  padding: 10px;
}
#back{
    color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 18px;
  width: 25%;
  margin-left: 385px;
  padding: 10px;
}