@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  margin-top: 80px;margin-bottom: 800px;background-color: blanchedalmond;
}
.topGrid {
  display: grid; 
  grid-template-columns: 2fr 12fr 56fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."; 
}
h2 {
  font-family: 'Staatliches', cursive; margin-left: 15px;
}
#back{
  font-family: 'Staatliches', cursive;
    color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 60px;
  width: 88px;
  margin-left: 0px;
  padding: 10px;
}

.in{
  margin-top: 23px;
    margin-left: 16px;
}
.sorch{
  width: 59px;
    height: 23px;
}
