@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body {
 margin-top: 80px;
  margin-bottom: 800px;
 /* overflow-y: hidden;*/
 background-color: bisque;
}

#back {
  background: rgb(255, 1, 1);
  font-family: 'Staatliches', cursive;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 88px;
  border: none;
  margin-top: 67px;
    margin-left: 132px;
  padding: 10px;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 75px;
  margin-left: 83px;
  width: 831px;
  height: 78px;
  padding-bottom: 14px;
  letter-spacing: 5px;
}
#in{
  border-radius: 8px;
  margin-top: 17px;
  margin-left: 13px;
}
#erase{
  border-radius: 8px;
  margin-top: 17px;
  margin-left: 13px;
}
.grud {

  height: 194px;
    width: 601px;
    margin-left: 15px;
    margin-top: 15px;
    border-bottom-width: 16px;
    margin-bottom: 19px;
    margin-right: 29px;

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 2fr 2fr 2fr 2fr; 
  gap: 18px 22px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."; 
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-left:  186px;
  color: #000000;
}

#border{
  background-color: #788ae3 ;
  height: 329px;
  border-radius: 5px;
  position: relative;
  border-color: #000000;
  margin-left: 129px;
    margin-right: 118px;
    margin-top: 40px;
}
#border:before  {
  content: '';
  position: absolute;
  top: 0; right: 0;
  border-top: 42px solid bisque;
  border-left: 42px solid red;
  width: 0;
}

p {
  font-family: 'Staatliches', cursive;
  font-size: 21px;
  margin-top: 0px;
    margin-left: 0px;
  color: rgb(0, 0, 0);
}

#equal{
  background-color: skyblue;
  width: 588px;
  border: none;
  margin-left: 13px;
}
.btn{
  font-family: 'Staatliches', cursive;
  font-size: 21px;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: #a04fb481;
}
#equal:hover{
  background-color: #a04fb481;
}




