@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Pieces';
  src: url(PiecesNfi-LrOn.ttf);
}

body {
  margin-top: 80px;
 /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c9f29ea7-ed23-49c4-a9f3-5aa82293f248/d1bjssd-6e5c96d7-fadb-4451-bc0b-1f8fd67bd856.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M5ZjI5ZWE3LWVkMjMtNDljNC1hOWYzLTVhYTgyMjkzZjI0OFwvZDFianNzZC02ZTVjOTZkNy1mYWRiLTQ0NTEtYmMwYi0xZjhmZDY3YmQ4NTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Se47nPAbhPXF4OgtbZJmG6V30Rcl2RLy_lZP7cMJrkA");*/
  
  background-size: 1042px 842px;
  margin-bottom: 800px;
  /* overflow-y: hidden;*/
  background-color: bisque;
}
.frstTwo {
  display: grid; 
  grid-template-columns: 2fr 2fr; 
  gap: 0px 0px; 
}
#slimer{
  position: relative;
  width: 91px;
  height: 89px;left: 75px;
  top: 56px;
}
.need{
  width: 241px;
  height: 21px;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.need1{
  position: relative;right: 6px;
  font-family: 'Pieces';   
  top: 96px;
  left: 36px;
  width: 99px;
  height: 39px;
  background-color: #d52727;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.need1:hover{
  background-color: white;
}
.need2{position: relative;right: 6px;
  font-family: 'Pieces';   
  top: 96px;
  left: 36px;
  width: 99px;
  height: 39px;
  background-color: #817676;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#sticky1{
  width: 276px;
  height: 276px;
  padding: 25px;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  font-family: inherit;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 90%);
}


.far fa-times-circle{
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
  position: relative;
  margin-top: -285px;
  margin-left: -35px;
  transition: 1s ease-in-out;
}
#close{
  position: relative;right: 289px;
  bottom: 150px;
}
#dork{
  position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


#sticky{
  background-color: rgb(114, 253, 0);
  width: 233px;
  height: 128px;
}
i{
  margin-left: 262px;
  margin-top: 6px;
}



#back {
  background: rgb(255, 1, 1);
  font-family: 'Staatliches', cursive;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 88px;
  border: none;
  margin-top: 67px;
  margin-left: 132px;
  padding: 10px;
}

#content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.content2{
  background-color: rgb(114, 253, 0);
  width: 233px;
  height: 128px;
  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
}





h1 {
  font-size: 48px;
  font-family: 'Pieces';
  margin-left: 186px;
  color: #125176;
  position: relative;
  bottom: 60px;
    left: 39px;
}


p {
  font-family: 'Staatliches', cursive;
  font-size: 21px;
  margin-top: 0px;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}

