@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
  margin-top: 80px;
  background-size: 1042px 842px;
  margin-bottom: 800px;height: 190px;
   overflow-y: hidden;
  background-image: url("0rqcbC.webp");
  background-size:cover


}
h3{
  font-family: 'Zilla Slab', serif;
  position: relative;
  bottom: 71px;margin-bottom: 9px;
  left: 7px; color:aqua;
}

.container {  
  position: relative;
  margin-top: 24px;
  width: 1420px;
  height: 727px;left: 192px;top: 37px;


  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

      
}
.box{
  opacity: 1;
 
}
.box:hover{
  opacity: .5;
  transition: opacity .9s ease-out;
  -moz-transition: opacity .8s ease-out;
  -webkit-transition: opacity .9s ease-out;
  -o-transition: opacity .9s ease-out;
}
.shodow{
  
  transition: transform 2s;
}
.shodow:hover{
  transform: scale(1.1);
}
 p{
  font-family: 'Zilla Slab', serif;
  color: white;justify-content: center;
  position: relative;
  bottom: 71px;
  left: 7px;

 } 



#back {
  background: rgb(255, 1, 1);
  font-family: 'Staatliches', cursive;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 88px; position: sticky;
  border: none;
  margin-top: 20px;
    margin-left: 191px;
  padding: 10px;
}

.header {
  display: grid;
  grid-template-columns: 0fr 0fr 1fr;
  gap: 28px 45px;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: start;
}



h2 {
  font-family: 'Staatliches', cursive;
  font-size: 75px;
  margin-left: 83px;
  width: 831px;
  height: 78px;
  padding-bottom: 14px;
  letter-spacing: 5px;
}



h1 {
  font-family: 'Press Start 2P', cursive;
  margin-left: 186px;
  color: #000000;
  position: relative;
  bottom: 24px;
}




.btn {
  font-family: 'Staatliches', cursive;
  font-size: 21px;
  color: burlywood;
  border: none;
  border-radius: 5px;
  width: 123px;
  height: 38px;
  
}



.btn:hover {
  background-color: black;
}

#equal:hover {
  background-color: #e28437da;
}


