@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body {
  margin-top: 80px;
  margin-bottom: 800px;
}

#back {
  font-family: 'Staatliches', cursive;
  color: rgb(255, 0, 0);
  margin: auto;
  margin-top: 60px;
  width: 88px;
  margin-left: 0px;
  padding: 10px;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 75px;
  margin-left: 83px;
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-left: 323px;
  color: #bac3c3;
}

p {
  font-family: 'Noto Sans Mono', monospace;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}

.let {
  width: 600px;
}

.grod {
  display: grid;
  grid-template-columns: 0fr 1fr 2fr;
  gap: 0px 11px;
}

.left {
  width: 30px;
  height: 25px;
  margin-top: 400px;
  margin-right: 4px;
}
.right{
  width: 30px;
  height: 25px;
  margin-top: 400px;
  margin-left: 4px;
}