@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body {
  background: black;
  margin-top: 80px;
  margin-bottom: 800px;
  overflow-y: hidden;
}

#back {
  
  font-family: 'Staatliches', cursive;
  color: rgb(255, 0, 0);
  margin: auto;
  margin-top: 237px;
  width: 88px;
  margin-left: 45px;
  padding: 10px;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 75px;
  margin-left: 83px;
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-left:  186px;
  color: #bac3c3;
}

p {
  font-family: 'Noto Sans Mono', monospace;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}
 #grenz{
  height: 200px;
} 
#mainImg{
  display: inline;
  width: 600px;
}
 .let {
 visibility: visible;
  width: 600px;
 
} 
 #lot{
  visibility: visible;
  display: inline;
  width: 489px;
} 
#loot{
  visibility: visible;
  display: inline;
  width: 489px;
}

.grod {
  display: grid;
  grid-template-columns: 0fr 1fr 2fr;
  gap: 0px 11px;
  grid-template-areas: 
    ". . ."
    ". . ."; 
}

.left {
  cursor:pointer;
  border-radius: 9px;
  font-weight: bold;
  font-size: 25px;
  background: #ffdf00;
  width: 30px;
  height: 39px;
  margin-top: 400px;
  margin-right: 4px;
}
.right{
  cursor:pointer;
  border-radius: 9px;
  font-weight: bold;
  font-size: 25px;
  background: #ffdf00;
  width: 30px;
  height: 39px;
  margin-top: 400px;
  margin-left: 6px;
}