@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body {
  background: #6ca5af8c;
  margin-top: 80px;
  margin-bottom: 800px;
 /* overflow-y: hidden;*/
}

#back {
  
  margin-top: 24px;

  font-family: 'Staatliches', cursive;
  color: rgb(255 141 0);
 
  
  width: 88px;
  margin-left: 45px;
  padding: 10px;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 75px;
  margin-left: 83px;
}

h1 {
  font-family: 'Staatliches', cursive;
  margin-left:  186px;
  color: #cd2f27;
}

p {
  font-family: 'Noto Sans Mono', monospace;
  margin-left: 0px;
  color: rgb(255 255 255);
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.prev{
  
  top: 0px;
  right: 643px;

}
label{
  position: relative;
  margin-top: 190px;

}
.slides {
    padding: 0;
   
    display: block;
    margin: 0 auto;
    position: relative;
    
    margin-right: 1077px;

    width: 643px;
    height: 729px;

}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 643px;
    height: 729px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
  width: 104px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: white;
    font-size: 88pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: none;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0;
  left: 643px;
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgb(86 154 203);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(255, 255, 255, 0.8);
}