@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Pieces';
  src: url(SHPinscher-Regular.otf);
}
@font-face {
  font-family: 'loco';
  src: url(Needleteeth\ Spooky.ttf);
}

body {
  margin-top: 80px;
 /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c9f29ea7-ed23-49c4-a9f3-5aa82293f248/d1bjssd-6e5c96d7-fadb-4451-bc0b-1f8fd67bd856.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M5ZjI5ZWE3LWVkMjMtNDljNC1hOWYzLTVhYTgyMjkzZjI0OFwvZDFianNzZC02ZTVjOTZkNy1mYWRiLTQ0NTEtYmMwYi0xZjhmZDY3YmQ4NTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Se47nPAbhPXF4OgtbZJmG6V30Rcl2RLy_lZP7cMJrkA");*/
  
  background-size: 1042px 842px;
  margin-bottom: 800px;
  /* overflow-y: hidden;*/
  
}
#chrono{
  font-size: 88px;
  font-family: 'Pieces';
  margin: unset;
  color: #125176;

}
.chron{
  color: aqua;
}
#gif{
  position: relative;
  width: 291px;
  height: 241px;
  left: 284px;
  top: 149px;
}





i{
  margin-left: 262px;
  margin-top: 6px;
}



#back {
  background: rgb(255, 1, 1);
  font-family: 'Staatliches', cursive;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 88px;
  border: none;
  margin-top: 67px;
  margin-left: 132px;
  padding: 10px;
}

#content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
#content2{
 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
}





h1 {
  font-size: 48px;
  font-family: 'Pieces';
  margin: unset;
  color: #125176;
 
 
  
}


p {
  font-family: 'loco';
  font-size: 15px;
  margin-top: 0px;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}


