@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@font-face {
  font-family: '3Dumb';
  src: url(3Dumb.ttf);
}

body{
  margin-top: 80px;margin-bottom: 800px;background-color: blanchedalmond;
}
#nope{
  position: relative;bottom: 165px; left: 138px;
}

#back{
  font-family: 'Staatliches', cursive;
    color: rgb(255, 0, 0);
    margin: auto;
    margin-top: 60px;
  width: 88px;
  margin-left: 0px;
  padding: 10px;
}
#x {
  margin-left: 486px;
}
input {
  font-family: 'Noto Sans Mono', monospace;
}
label {
  font-family: 'Noto Sans Mono', monospace;
}

.header{color: coral;
  font-size: 40px;position: relative;
  margin-left: 159px;right: 609px;
}
.table{
  background-color: #e5db29; border-radius: 19px;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(0, 0, 0);
}
h2{ 
  font-family: '3Dumb', cursive;
  font-size:18px; cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px; font-size: 57px;
 
}
#pa1{
  background-color: darkcyan;padding-left: 27px;padding-right: 14px; border-radius: 19px;
}

#pa2{
  background-color: darkcyan;padding-left: 27px;padding-right: 14px; border-radius: 19px;
}
#pa3{
  background-color: darkcyan;padding-left: 27px;padding-right: 14px; border-radius: 19px;
}
#pa1:hover{ color: aliceblue;
  background-color: #008b8b57;
}
#pa2:hover{color: aliceblue;
  background-color: #008b8b57;
}
#pa3:hover{color: aliceblue;
  background-color: #008b8b57;
}
#pa3a{
  margin-left: 58px;
  color: red;
}
#pa-r-2{
  margin-left: 58px;
 }#pa-r-1{
  margin-left: 58px;
}
h1{
  font-family: '3Dumb'; 
  color: #000000; font-size: 84px;
  margin-top: 53px;
}

p{
  font-family: 'Noto Sans Mono', monospace;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}
.operation {
  position: relative;    right: 175px;
  bottom: 89px;
  height: 9px;
  top: -94px;
  margin-bottom: 0px;
  display: grid; 
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr; 
  gap: 0px 10px; 
}
h2:hover{
  color: red;
}
#sum{
  position: relative;padding-left: 75px;
}
.headerOperation{
 font-size: 32px; position: relative;
}
.digits {margin-left: 41px;
  display: grid; margin-right: 85px; 
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 47px; 
  grid-template-areas: 
    ". . . . ."; 
}
.possibleAnswers{margin-right: 1473px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 8px 0px; margin-left: 40px;
}

.all{
  display: grid;
  grid-template-columns: 1fr 0fr 3fr;
  grid-auto-columns: 1fr;
  /* grid-template-columns: 0.4fr 0fr; */
  gap: 0px 50px;
}